In [1]:
import os
os.getcwd()

'C:\\Users\\BHANU TEJA\\Desktop\\Untitled Folder 1'

In [7]:
x=59
y='BhanuTeja'
z=2+4j
a=3-8j
print(x)
print(y)
print(a+z)

59
BhanuTeja
(5-4j)

In [10]:
s=2+5j
x=5
y=7.5
print(type(x))
print(type(y))
z=x+y
print(z)
print(type(z))
print(type(s))

<class 'int'>
<class 'float'>
12.5
<class 'float'>
<class 'complex'>

In [23]:
x=5
y=x
flag=x is y
print(flag)

True

In [22]:
l=5//2#// for integer
a=5%2
e=5**2# power 
k=5>>2
x=3
y=5
flag=x==y
print("Flag:",flag)
print('K:',k)
print(l)
print(a)
print(e)
print("binary:",7&9)#and operator 
print(type(a))
print(type(l))

Flag: False
K: 1
2
1
25
binary: 1
<class 'int'>
<class 'int'>

In [27]:
x=[10,20,30,40]
flag1= 10
flag2=25
verify1= flag1 in x
verify2=flag2 in x # to verify the data present in the list 
print(verify1)
print(verify2)

True
False

In [42]:
#lists 
languages=['c','c++','java','plsql','R#'] # homogenous
mixed =['bhanu',21,'22-01-2002']  # non homogenous allows duplicates
duplicate=[1,1,'workshop1']
combination=[1,3,3,[12,'workshop'],False,'No']
print(combination)
print(languages)
print(mixed)
print(duplicate)
mixed.append(45)
print("After append:",mixed)
# index position start from zero 
print(languages[0])
for x in mixed:
 print(x)

# deelete of data in list

[1, 3, 3, [12, 'workshop'], False, 'No']
['c', 'c++', 'java', 'plsql', 'R#']
['bhanu', 21, '22-01-2002']
[1, 1, 'workshop1']
After append: ['bhanu', 21, '22-01-2002', 45]
c
bhanu
21
22-01-2002
45

In [45]:
l1=[1,2,3,4,45]
print(l1)
del l1[:3]
print(l1)
#slice of the list
print("slice:",l1[1:3])

[1, 2, 3, 4, 45]
[4, 45]
slice: [45]

In [51]:
l1=[]
print(l1)
l1.append([10,'frank'])
print(l1)

[]
[[10, 'frank']]

In [55]:
list1=[1,3,6,8,9,12,25]
square=[]
for x in list1:
    square.append(x**2)
    print(square)

[1]
[1, 9]
[1, 9, 36]
[1, 9, 36, 64]
[1, 9, 36, 64, 81]
[1, 9, 36, 64, 81, 144]
[1, 9, 36, 64, 81, 144, 625]

In [56]:
list1=[2,4,5,6,7]
square=[x**2 for x in list1]# list compreshion
square

[4, 16, 25, 36, 49]

In [58]:
list1=[2,4,'ws',10]
for a in list1:
    print(a*2)

4
8
wsws
20

In [61]:
list1=[10,20,'ws',30,40,50]

square=[x**2 for x in list1 if type(x) in [int,float]]
square

[100, 400, 900, 1600, 2500]

In [73]:
l1=list(range(10)) # range
print(l1)
print("Length:",len(l1))
# assignment 1  use list comphresion to create a  list of
#--cubes of even number upto 20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Length: 10

In [76]:
cubes_of_evens = [num**3 for num in range(20)]
print(cubes_of_evens)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [80]:
#tuple is in  muttable 
colors=['Red','black','blue','Green']
print(colors)
print(colors[:2])
print(colors[1:])
print(colors[2:4])

['Red', 'black', 'blue', 'Green']
['Red', 'black']
['black', 'blue', 'Green']
['blue', 'Green']

dict1={} duplicate c
key can be alloweded but no value is added



using the set values of the phyton

In [90]:
tset={'apple','Guava','grapes','dragon'}
print(tset)

{'apple', 'grapes', 'dragon', 'Guava'}

In [95]:
tset2={'apple','dragon','cherry',True,1,1}
print(tset2)
tset2.add('Orange')
print(tset2)
tset2.remove(True)
print(tset2)
# duplicates wont taken

{'apple', True, 'dragon', 'cherry'}
{True, 'dragon', 'cherry', 'apple', 'Orange'}
{'dragon', 'cherry', 'apple', 'Orange'}

In [1]:
import pandas as ps