In [1]:
x='john'
y=5
print(x)
print(y)

john
5

In [3]:
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [4]:
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

3 3 3.0

Multi word variables are of Camel case -Each word ,expect teh first starts with capital 
Pascal Case -Each word starts with capital letter
Snale Case-each word is seperated by an underscore character 
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

In [5]:
x,y,z="aaa","aaab","aaaac"
print(x)
print(y)
print(z)

aaa
aaab
aaaac

In [6]:
x=y=z="aaa"
print(x)
print(y)
print(z)

aaa
aaa
aaa

In [7]:
#unpack a collection 
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Data Types in Python 
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

to know the datatype then type is used

In [8]:
x=range(0,6)
print(x)

range(0, 6)

In [9]:
x = memoryview(bytes(5))

In [12]:
import random

print(random.randrange(1, 10))

6

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
here strings are arrays 
print(a[1])

In [13]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.